.area__resultado__decodificador {
    background-color: var(--color-white);
    width: 400px;
    height: 944px;
    border-radius: 32px;
}

.img_pessoa_sentada{
    margin:243px 32px 0 32px;
}

.msg__not__found{
    font-family: var(--Inter-sans-serif);
    font-size: 24px;
    font-weight: bold;
    color: var(--color-gray-second);
    padding: 32px 32px 16px 32px;
    text-align: center;
}

.alert__digite__texto {
    font-family: var(--Inter-sans-serif);
    font-size: 16px;
    color: var(--color-gray-first);
    text-align: center;
    padding: 0px 50px 0px 50px;
}
