button {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--color-dark-blue);
    box-shadow: none;
    font-size: 16px;    
}
button:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.button-um {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.button-dois {
    background-color: var(--color-white-ice);
    color: var(--color-dark-blue);
}

.buttons__container {
    display: flex;
    justify-content: space-between;
}